/* body {
} */

section {
    position: absolute;
    width: 93%;
    height: 85%;
    z-index: 1;
}

#page-nav-and-search {
    position: relative;
    top: 10px;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
}

#recipe-search-form {
    position: relative;
    display: flex;
    flex-direction: row;
    gap: 10px;
    background: var(--card-color);
}

#recipe-search-form label {
    background: var(--label-color);
    color: var(--secondary-text-color);
    border-top: 1px solid var(--border-color);
    border-left: 1px solid var(--border-color);
}

#query-total-count {
    position: relative;
    left: 60px;
    width: fit-content;
    background: var(--card-color);
    border: 1px solid var(--border-color);
}

#recipes-list {
    display: grid;
    grid-template: repeat(auto-fill, 150px) / repeat(auto-fill, 350px);
    gap: 10px;
    position: absolute;
    margin: 2% 0 0 2%;
    width: 105.5%;
    height: 106%;
    overflow: auto;
    list-style: none;
    justify-content: center;
}

#recipes-list > a {
    text-decoration: none;
    color: var(--tertiary-text-color);
    background: var(--card-color);
    border: 1px solid var(--border2-color);
}

#recipes-list > a:hover {
    background: var(--hover-recipe-card-color);
    border: 1px solid var(--border-color);
    transform: scale(101%);
    transition: all 100ms ease-in;
}

.recipe-item {
    display: grid;
    grid-template-columns: 250px 100px;
    height: 150px;
    justify-items: center;
    align-items: center;
}

.recipe-title {
    font-weight: bold;
    text-align: center;
    text-decoration: underline;
}

.cook-time {
    text-align: center;
}

.servings {
    text-align: center;
}

.recipe-preview {
    scale: 80%;
    border-radius: 50%;
}
