:root {
    --background-color: linear-gradient(
        0deg,
        rgb(192, 184, 167),
        rgb(231, 221, 201),
        rgb(248, 238, 217)
    );
    --header-color: linear-gradient(
        0deg,
        rgb(139, 139, 103),
        rgb(154, 155, 115),
        rgb(171, 172, 127)
    );
    --footer-color: linear-gradient(
        0deg,
        rgb(106, 107, 78),
        rgb(125, 126, 93),
        rgb(143, 145, 106)
    );
    --label-color: linear-gradient(
        90deg,
        rgba(158, 153, 145, 0.836),
        rgba(250, 240, 226, 0.5),
        rgba(250, 240, 226, 0.021)
    );
    --border-color: rgb(250, 240, 226);
    --border2-color: rgba(250, 240, 226, 0.404);
    --nav-border-color: rgb(68, 47, 56);
    --nav-background: linear-gradient(
        90deg,
        rgb(248, 238, 217),
        rgb(231, 221, 201),
        rgb(163, 157, 143)
    );
    --nav-link-hover-background: linear-gradient(
        -90deg,
        rgb(248, 238, 217),
        rgb(231, 221, 201),
        rgb(163, 157, 143)
    );
    --nav-link-background: linear-gradient(
        90deg,
        rgb(68, 47, 56),
        rgb(138, 103, 118)
    );
    --recipe-card-color: rgba(250, 240, 226, 0.5);
    --hover-recipe-card-color: rgba(250, 240, 226, 0.75);
    --primary-text-color: #f8f5ed;
    --secondary-text-color: #302f2d;
    --tertiary-text-color: #050505;
    --primary-font: sans-serif;
}

* {
    /* border: 1px solid black; */
    margin: 0;
    padding: 0;
    font-family: var(--primary-font);
    /* color: var(--primary-text-color); */
}

body {
    height: 100vh;
    width: 100vw;
    background: var(--background-color);
    overflow: hidden;
}

header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    height: 8vh;
    position: relative;
    background: var(--header-color);
    box-shadow: 0px 3px 5px 0.5px rgba(0, 0, 0, 0.432);
    border-bottom: 0.5px solid var(--border-color);
    z-index: 5;
}

.logo {
    margin: auto 0;
    height: 80%;
}

.site-title {
    margin: auto 20px;
    text-shadow: 2px 3px 3px rgba(0, 0, 0, 0.418);
}

main {
    display: grid;
    height: 84vh;
    position: relative;
}

footer {
    height: 8vh;
    position: relative;
    background: var(--footer-color);
    box-shadow: 0px -3px 5px 0.5px rgba(0, 0, 0, 0.212);
    border-top: 0.5px solid var(--border-color);
    z-index: 5;
}

/*              NAVIGATION MENU              */
aside {
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 200px;
    position: absolute;
    text-align: center;
    background: var(--nav-background);
    border-right: 0.5px solid var(--border-color);
    box-shadow: 3px 0px 5px 0.5px rgba(0, 0, 0, 0.377);
    overflow: hidden;
    z-index: 2;
}

#menu-btn-bar {
    margin-top: 10px;
    display: flex;
    flex-direction: row;
}

#menu-btn {
    width: fit-content;
    cursor: pointer;
    position: relative;
    left: 5px;
}

#menu-btn > div {
    width: 25px;
    height: 5px;
    margin: 3px auto;
    background-color: rgb(68, 47, 56);
    border-radius: 5px;
}

.toggle-menu-open {
    transition: all 250ms ease-in;
}

.toggle-menu-closed {
    transform: translateX(162px) rotate(-90deg);
    transition: all 250ms ease-in;
}

.toggle-nav-menu-open {
    transition: all 250ms ease-in;
}

.toggle-nav-menu-closed {
    height: 45px;
    border-bottom: 1px solid var(--border-color);
    box-shadow: 0px 0px 5px 1px black;
    transform: translateX(-160px);
    opacity: 50%;
    transition: all 250ms ease-in;
}

.toggle-nav-menu-closed:hover {
    opacity: 100%;
    transition: all 250ms ea;
}

nav {
    position: relative;
    height: 100%;
    width: 100%;
    display: grid;
    grid-template-rows: 30px 30px 30px 30px 30px 30px 1fr 30px;
    gap: 20px;
    padding: 20px 0;
    align-items: center;
}

nav > a {
    width: 100%;
    padding: 10px 0;
    margin: 10px auto;
    text-decoration: none;
    color: var(--text-color);
    background: var(--nav-link-background);
}

.link-closed-opacity {
    pointer-events: none;
    opacity: 0%;
    transition: opacity 250ms;
}

.link-open-opacity {
    opacity: 100%;
    transition: opacity 250ms;
}

nav > a:hover {
    transform: scale(110%);
    background: var(--nav-link-hover-background);
    color: var(--nav-border-color);
    border: 1px solid var(--nav-border-color);
    box-shadow: -1px 0 5px 0.5px rgb(68, 47, 56);
    transition: all 100ms ease-in;
}

.hidden {
    display: none;
}
